/* Split the screen in half */
.split {
    height: 40%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #FFFBF8;
  }
  
  /* Control the left side */
  .down {
    left: 0;
    background-color: #FF6700;
  }
  
  /* Control the  side */
  .top {
    right: 0;
    background-color: #FFFBF8;
  }


/*Sign In*/

h1.text-center{
      color: #fff;
      padding-top: 3rem;
}

p.text-center{
    color: #fff;
}

#email{
    border-radius: 30px;
    padding: 5px;
    font-size: 15px;
    color: #656565;
}

#pwd{
    border-radius: 30px;
    padding: 5px;
    font-size: 15px;
    color: #656565;
}

#forgotpwd{
    color: #656565
}

.card.text-center{
    position: fixed;
    z-index: 1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 8px 15px -8px #ff964e;
    padding-bottom: 2rem;
}

#signin{
    position: relative;
    font-size: 25px;
    color: #656565;
    border-color: #ff6700;
    padding-bottom: 7px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: fit-content;
    left: 40%;
}



.btn.btn-submit {
    background-color: #ff6700;
    color: #fff;
    border-radius: 30px;
}

.btn-submit:hover{
    background-color: #ff964e;
    color: #fff !important;
}

span a{
    text-decoration: none;
    color: #52b3ef;
}

#signup-text{
    color: #656565;
    top: 84%;
    position: fixed;
    left: 0;
    right: 0;
}

#google-img{
    top: 90%;
    position: fixed;
    height: 30px;
    width: 30px;
    left: 48%;
}


  