body{
  overflow-y: scroll;
  height: 130vh;
  background-image: url("../images/signup-bg.jpg");
}




/*Sign In*/
h1.text-center {
  color: #fff;
  padding-top: 3rem;
  position: relative;
}

p.text-center {
  color: #fff;
  position: relative;
}

/*======Input Field Start======*/
#email {
  border-radius: 30px;
  padding: 5px;
  font-size: 15px;
  color: #bcbcbc;
  padding-left: 45px;
  right: 0;
}

#email:focus {
  color: #656565;
}

#fName {
  border-radius: 30px;
  padding: 5px;
  font-size: 15px;
  color: #bcbcbc;
  padding-left: 45px;
  right: 0;
}

#phone {
  border-radius: 30px;
  padding: 5px;
  font-size: 15px;
  color: #bcbcbc;
  padding-left: 45px;
  right: 0;
}

#lName {
  border-radius: 30px;
  padding: 5px;
  font-size: 15px;
  color: #bcbcbc;
  padding-left: 45px;
  right: 0;
}

#pwd {
  border-radius: 30px;
  padding: 5px;
  font-size: 15px;
  color: #bcbcbc;
  padding-left: 45px;
  right: 0;
}

#pwd:focus:active {
  color: #656565;
}

#forgotpwd {
  color: #656565;
}

        /*Icons*/
div.inputWithIcon input[type="text"] {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 0;
    padding: 9px 18px;
    color: #bcbcbc;
  }
/*======Input Field End======*/

.card.text-center {
  position: absolute;
  z-index: 1;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  border-radius: 30px;
  padding: 5px;
  box-shadow: 0 8px 15px -8px #ff964e;
  padding-bottom: 2rem;
}

#signin {
  position: relative;
  font-size: 25px;
  color: #656565;
  border-color: #ff6700;
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  width: fit-content;
  left: 37%;
}

/*Password Visibility*/
.field-icon {
  float: right;
  padding: 0 18px;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color: #626262;
}

/*======Sign In Button======*/
.btn.btn-default {
  background-color: #ff6700;
  color: #fff;
  border-radius: 30px;
}

.btn-default:hover {
  background-color: #ff964e;
  color: #fff !important;
}
/*======Sign In Button======*/

/*======Sign Up Text======*/
span a {
  text-decoration: none;
  color: #52b3ef;
}
/*======Sign Up Text======*/

/*======Sign In With Google======*/
#google-img {
  z-index: 1;
  bottom: 1%;
  height: 30px;
  width: 30px;
  left: 48%;
  position: absolute;
}
/*======Sign In With Google======*/

.form-check1 {
  z-index: 1;
  color: #656565;
  top: 41rem;
  position: absolute;
  left: 37%;
}

.form-check2 {
  z-index: 1;
  color: #656565;
  top: 44rem;
  position: absolute;
  left: 33%;
}

@media only screen and (max-width: 480px) {
  .form-check1 {
    font-size: 13px;
    left: 17%;
    top: 43rem;
  }

  .form-check2 {
    font-size: 13px;
    left: 8%;
    top: 45rem;
  }

  .card.text-center {
    top: 60%;
  }
}